           header {
  display: flex;
  width: 100%;
  height: 100px;
  background:url(https://lh3.googleusercontent.com/iRrZlRJmrp7eBr5BKXHxhl9YDmBhfOjwVpNotAMax5P57nsvQKCIlkPHVejQsnZ8JLC1_WOSwa05TXAjsdD3EQTk1SOrbLaKV1SJ4eeG9a3AU53JASzjR_fyVpnu7HBORg=w2310);
  align-items: center;
}
.title {
  color: white;
  margin-right: auto;
}
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
    }
            #text2{
        margin-top: 70px;
        margin-left: 800px;
        font-size: 18px;
        line-hight: 2em;
        width:450px;
        border-width: 5px;
        padding: 20px;
        background-color: #99CCFF;
        border-style:double dotted groove;
        border-color: #FF0000;
        color:white;
      }
      #link{color:red;}
      #link2{color:lime;}
      a{
  font-size: 20px;
}
.hero-1 {
  @extend .hero;
  background-size: cover;
  background-position: center;
}
